{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='shortcut icon' type='image/x-icon' href='/assets/static/favicon.ico'/>
  <link rel='icon' type='image/x-icon' href='/static/assets/favicon.ico'/>
  <title>Swiss Hike Finder</title>
  <link rel="stylesheet" href="/static/assets/style.css">
</head>
<body>
    <main>
      {{template "header" .}}
      {{template "content" .}}
    </main>
    <footer class="footer">
      <div class="footer">Made with ❤️ thanks to open-source data from 
        <a href="http://www.myswitzerland.com/" target="_blank">Switzerland Tourism</a> 
        and 
        <a href="http://www.schweizmobil.ch/" target="_blank">Schweiz Mobil.</a>
        Powered by <a href='https://golang.org/'>Go</a> in {{.CurrentYear}}
      </div>
    </footer>
</body>
</html>
{{end}}