{{define "content"}}
<div class="search-container">
<form action="/search" method="GET">
  <input
    autofocus
    class="search-input"
    value="{{ .Search.Query }}"
    placeholder="What would you like to discover?"
    type="search"
    name="q"
  />
</form>
</div>
<section class="container">
    <div class="result-count">
        {{ if .Search.Results }}
          {{ if (gt .Search.TotalPages 0)}}
          <p>
            About <strong>{{ .Search.TotalResults }}</strong> results were
            found. You are on page <strong>{{ .Search.CurrentPage }}</strong> of
            <strong> {{ .Search.TotalPages }} </strong>.
          </p>
          {{ end }}
        {{ else }}
          {{ if and (ne .Search.Query "") (eq .Search.TotalPages 0) }}
              <p>
                No results found for your query: <strong>{{ .Search.Query }}</strong> 😟.
              </p>
          {{ else }}
              <p>No search results to display.</p>
          {{ end }}
        {{ end }}
        </div>
    <ul class="search-results">
      {{ range.Search.Results }}
      <li class="hikes">
        <div>
          <a target="_blank" rel="noreferrer noopener" href="{{.URLswmo}}">
            <h3 class="name">{{.Name }}</h3>
          </a>
          <p class="abstract">{{ .Abstract }}</p>
          <div class="metadata">
            <p class="type">{{ .RecordType }}</p>
          </div>
        </div>
        <img class="hike-image" src="{{ .LogoURL }}" />
      </li>
      {{ end }}
    </ul>
    <div class="pagination">
    {{ if .Search }}
        {{ if (gt .Search.NextPage 2) }}
        <a
        href="/search?q={{ .Search.Query }}&page={{ .Search.PreviousPage }}"
        class="button previous-page"
        >Previous</a
        >
        {{ end }}
        {{ if (ne .Search.IsLastPage true) }}
        <a
        href="/search?q={{ .Search.Query }}&page={{ .Search.NextPage }}"
        class="button next-page"
        >Next</a
        >
        {{ end }}
    {{ end }}
    </div>
</section>
{{end}}